.container{
border: 4px solid lightgrey;
display: flex;
flex-direction: row;
flex-direction: row;
/* flex-wrap: wrap; */
align-items: center;
/* align-content: center; */
/* justify-content: space-evenly; */
/* justify-content: space-between; */
justify-content: center;
height: 100vh;


}

.box{
    width: 4rem;
    height: 4rem;
    background-color: yellow;
    margin: 3rem;
    /* flex-grow: 3 ; */
    flex-basis: 15rem;
    flex-shrink: 1;
    
}
.box-1{
    /* flex-grow: 1; */
    /* flex-basis: 3rem; */
    /* flex-shrink: 0; */
}