.container{
display: flex;
flex-direction: column;

}
.box{
    background-color: gold;
    padding: 1rem;
}

.box:nth-child(2){
    background-color: dodgerblue;
}
@media screen and (min-width: 900px){
    .container{
        flex-direction: row;
    }
    .box{
        background: white;
    }
}
@media print {
    html{
        font-size: 12pt;
    }
    .box{
        padding: 0.5;
    }
}